@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Estilos para fondo y letras*/
  --theme-font-color: 0, 0, 0;
  --theme-grayFont-color: 100, 100, 100;
  --theme-linkFont-color: 50, 50, 250;

  --theme-background-color: 245, 245, 245;

  /*Estilos para Sections*/
  --theme-section-background-color: 250, 250, 250;
  --theme-section-border-color: 200, 200, 200;
  --theme-section-shadow-color: 200, 200, 200;

  /*Estilos para SubSections*/
  --theme-subSection-background-color: 235, 235, 235;
  --theme-subSection-border-color: 200, 200, 200;
  --theme-subSection-shadow-color: 200, 200, 200;

  /*Estilos para CheckBoxes*/
  --theme-checkbox-background-color: 200, 200, 200;
  --theme-checkbox-border-color: 180, 180, 180;
  --theme-checkbox-selected-color: 64, 84, 83;

  /*Estilos para elementos*/
  --theme-element-background-color: 200, 200, 200;

  /*Estilos de paginacion*/
  --theme-arrow-color: 0, 0, 0;
  --theme-arrow-disable-color: 175, 175, 175;

  /*Estilos para botones Submit*/
  --theme-submitButton-color: 11, 141, 131;
  --theme-submitButtonHover-color: 16, 196, 182;

  /*Estilos para botones Danger*/
  --theme-dangerButton-color: 255, 50, 50;
  --theme-dangerButton-disable-color: 200, 200, 200;
  --theme-dangerButton-icons: 161, 3, 3;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*Estilos para fondo y letras*/
    --theme-font-color: 255, 255, 255;
    --theme-grayFont-color: 150, 150, 150;
    --theme-linkFont-color: 100, 100, 255;

    --theme-background-color: 20, 20, 20;

    /*Estilos para Sections*/
    --theme-section-background-color: 35, 35, 35;
    --theme-section-border-color: 5, 5, 5;
    --theme-section-shadow-color: 0, 0, 0;

    /*Estilos para SubSections*/
    --theme-subSection-background-color: 20, 20, 20;
    --theme-subSection-border-color: 5, 5, 5;
    --theme-subSection-shadow-color: 0, 0, 0;

    /*Estilos para CheckBoxes*/
    --theme-checkbox-background-color: 5, 5, 5;
    --theme-checkbox-border-color: 60, 60, 60;
    --theme-checkbox-selected-color: 11, 138, 127;

    /*Estilos para elementos*/
    --theme-element-background-color: 60, 60, 60;

    /*Estilos de paginacion*/
    --theme-arrow-color: 255, 255, 255;
    --theme-arrow-disable-color: 75, 75, 75;

    /*Estilos para botones Danger*/
    --theme-dangerButton-color: 200, 25, 25;
    --theme-dangerButton-disable-color: 50, 50, 50;
    --theme-dangerButton-icons: 255, 150, 150;
  }
}

body {
  color: rgb(var(--theme-font-color));
  background: rgb(var(--theme-background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  width: 100%;
}
