@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Estilos para fondo y letras*/
  --theme-font-color: 0, 0, 0;
  --theme-background-color: 255, 255, 255;

  /*Estilos para Sections*/
  --theme-section-background-color: 250, 250, 250;
  --theme-section-border-color: 200, 200, 200;
  --theme-section-shadow-color: 200, 200, 200;

  /*Estilos para CheckBoxes*/
  --theme-checkbox-background-color: 210, 210, 210;
  --theme-checkbox-border-color: 180, 180, 180;
  --theme-checkbox-selected-color: 64, 84, 83;

  /*Estilos para elementos*/
  --theme-element-background-color: 200, 200, 200;

  /*Estilos de paginacion*/
  --theme-arrow-color: 0, 0, 0;
  --theme-arrow-disable-color: 175, 175, 175;

  /*Estilos para botones Danger*/
  --theme-dangerButton-color: 219, 167, 167;
  --theme-dangerButton-disable-color: 200, 200, 200;
  --theme-dangerButton-icons: 161, 3, 3;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*Estilos para fondo y letras*/
    --theme-font-color: 255, 255, 255;
    --theme-background-color: 15, 15, 15;

    /*Estilos para Sections*/
    --theme-section-background-color: 10, 10, 10;
    --theme-section-border-color: 5, 5, 5;
    --theme-section-shadow-color: 40, 40, 40;

    /*Estilos para CheckBoxes*/
    --theme-checkbox-background-color: 40, 40, 40;
    --theme-checkbox-border-color: 60, 60, 60;
    --theme-checkbox-selected-color: 11, 138, 127;

    /*Estilos para elementos*/
    --theme-element-background-color: 50, 50, 50;

    /*Estilos de paginacion*/
    --theme-arrow-color: 255, 255, 255;
    --theme-arrow-disable-color: 50, 50, 50;

    /*Estilos para botones Danger*/
    --theme-dangerButton-color: 115, 11, 11;
    --theme-dangerButton-disable-color: 50, 50, 50;
    --theme-dangerButton-icons: 255, 117, 117;
  }
}

body {
  color: rgb(var(--theme-font-color));
  background: rgb(var(--theme-background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  width: 100%;
}
